header{
    height: 25vh;
    width: 100vw;
    border-style: none none inset none;
    background-image: url(header\ background.png) ;

}

.logo   {
    height:100%;
}

.slider {
    height: 40vh;
    width: 100vw;
    border-style: none none inset none;
}

.heading    {
    text-align: center;
    margin-top: 38vh;
    font-size: 9vw;

}

.tab    {
    border: outset;
    padding:1vh 6.4vw;
    margin-left: 3vw;
}

.nav {
    margin:0;
}